// creating a variable
$primary-color: #fce9db;
$secondary-color: #c98276;
$show-home-image: true;
$home-image: url(../img/code.jpg);
$background-opacity: 0.6;

@mixin easeOut {
  // all: what you transition, 0.5: the time it takes to transition, ease-out: the way it transitions
  transition: all 0.5s ease-out;
}

@mixin background {
  //if show-home-image is true
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      // creates pink overlap on the page
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 105%;
        z-index: -1; //makes sure the text is over the overlay and not behind it
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

// MEDIA QUERY MIXIN
@mixin mediaSm {
  // this css will only be applied when the window is 500px. This to accomodate for phone size
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  // this css will only be applied when the window is 500px.
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  // this css will only be applied when the window is 500px.
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXL {
  // this css will only be applied when the window is 500px.
  @media screen and (min-width: 1171px) {
    @content;
  }
}
