@import "config";
@import "menu";
@import "mobile";

* {
  box-sizing: border-box;
}
body {
  @include background();
  background: $primary-color;
  color: rgb(0, 0, 0);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// heading
h1,
h2,
h3 {
  margin: 0;
  font-weight: 500;

  //   this is the same as doing "h1.lg-heading in sass"
  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    // the rgba is added so we can see the background image once added.
    background: rgba(lighten($color: $primary-color, $amount: 7.5), 0.5);
  }
}

a {
  color: #000000;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem; //this puts spaces bettween the icons

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}
