@import "config";
@import "menu";

* {
  box-sizing: border-box;
}
body {
  @include background();
  background: $primary-color;
  color: rgb(0, 0, 0);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// heading
h1,
h2,
h3 {
  margin: 0;
  font-weight: 500;

  //   this is the same as doing "h1.lg-heading in sass"
  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    // the rgba is added so we can see the background image once added.
    background: rgba(lighten($color: $primary-color, $amount: 7.5), 0.5);
  }
}

a {
  color: #000000;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // so the footer stays at the same position even if we remove the grids in about me
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem; //this puts spaces bettween the icons

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    height: 250px;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }
  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($color: $primary-color, $amount: 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

// WORK/ PROJECTS PAGE

.projects {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px $secondary-color solid;

    &:hover {
      opacity: 0.7;
      border-color: $primary-color;
      @include easeOut;
    }
  }
}

// BUTTON STYLES OF WORK PAGE
// this btn class is not declared inside the wotk.html, it's created here to we can extend it to the btn classes we do have in the work.html page
.btn {
  display: block;
  padding: 0.5rem 1 rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    opacity: 0.9;
    background: $secondary-color;
    color: $primary-color;
    @include easeOut;
  }
}

.btn-dark {
  @extend .btn;
  background: rgb(0, 0, 0);
  color: $secondary-color;
  border: 1px $secondary-color solid;
}

// CONTACT PAGE

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px black solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: $primary-color;
      span {
        color: $secondary-color;
      }
    }
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: lighten($secondary-color, 10);
  height: 60px;
  color: #000000;
}

@import "mobile";
